:root{
    --primary: #216869;
    --secondary: #DCE1DE;
    --text-color: #DCE1DE;
    --text-secondary: #1F2421;
    --text-tertiary: #9CC5A1;
}

*{
    font-family: 'Nunito';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-description{
    background: linear-gradient(rgba(13,41,41,.85), rgba(13,41,41,.85)), url("../img/1-genomes-back.jfif");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#inform h2,
#inform .mainteiner{
    color: var(--text-tertiary);
}

#inform .mainteiner{
    font-weight: bold;
}

#inform h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#inform .mini-bio {
    font-size: 1.2em;
    max-width: 400px;
    margin-bottom: 1em;
    font-weight: 500;
}

#inform p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

#analyze-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 35%;
}

#analyze-form p{
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-right: 0.8em;
}

.form-group label {
    font-weight: bold;
    color: var(--primary);
    margin-bottom: .3em;
}

.form-group input{
    padding: 6px 8px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn{
    margin-top: 1em;
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bolder;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.75;
}

.btn:hover{
    opacity: 1;
}